* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.head {
    background-color:#3060DF;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
header {
    position: absolute;
    width: 100%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.margine {
    width: 70%;
    margin: auto;
}
.classe1 {
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 0.3rem;
    padding-right: 153px;
    
}
.classe2 {
    width: 60%;
    float: left;
    text-align: center;
    padding-top: 0.6rem;
}
.classe3 {
    width: 20%;
    float: right;
    padding-left: 132px;
    padding-top: 0.3rem;
}
.bottone {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 70px;
    border: none;
    height: 30px;
    font-size: 13px;
}
a {
    color: white;
   text-decoration: none;
   margin: 0px 20px;
   font-size: 15px;
}
.main1 {
    background-image: url(./img/jumbo.png);
    height: 468px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
main {
    padding-top: 82px;
}
.abso {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
h1 {
    font-size: 50px;
    margin-bottom: 44px;
}
.para1 {
    line-height: 26px;
    font-size: 18.5px;
    padding-bottom: 1.5rem;
}
.bottone1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 163px;
    border: none;
    height: 40px;
    font-size: 13px;
    margin-right: 2rem;
}
    
.bottone2 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 228px;
    border: none;
    height: 40px;
    font-size: 13px;
    color: white;
    background-color: black;
}
.main2 {
    width: 70%;
    margin: auto;
    padding-bottom: 7rem;
}
.classe4 {
    width: 60%;
    float: left;
    padding-top: 6rem;
}
.classe5 {
    width: 40%;
    float: left;
    padding-top: 7.7rem;
    font-size: 25px;
}
.img1 {
    width: 500px;
}
.para2 {
    font-size: 15px;
    margin-top: 1.5rem;
    line-height: 20px;
}
.classe6 {
    width: 40%;
    float: left;
    font-size: 25px;
    padding-top: 2.5rem;
}
.classe7 {
    width: 60%;
    float: left;
}
.main3 {
    background-color: #F6F6F6;
    height:400px;
}
.img2 {
    width: 500px;
}
.para3 {
    font-size: 15px;
    margin-top: 1.5rem;
    line-height: 20px;
}
.onde1 {
    transform:rotate(180deg);
}
.onda, .onda1 {
    display: block;
}



