* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.head {
    background-color:#3060DF;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
header {
    position: absolute;
    width: 100%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.margine {
    width: 70%;
    margin: auto;
}
.classe1 {
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 0.3rem;
    padding-right: 153px;
    
}
.classe2 {
    width: 60%;
    float: left;
    text-align: center;
    padding-top: 0.6rem;
}
.classe3 {
    width: 20%;
    float: right;
    padding-left: 132px;
    padding-top: 0.3rem;
}
.bottone {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 70px;
    border: none;
    height: 30px;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.a1 {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main1 {
    background-image: url(./img/jumbo.png);
    height: 468px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
main {
    padding-top: 82px;
}
.abso {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 50px;
    margin-bottom: 44px;
}
.para1 {
    line-height: 26px;
    font-size: 18.5px;
    padding-bottom: 1.5rem;
}
.bottone1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 163px;
    border: none;
    height: 40px;
    font-size: 13px;
    margin-right: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
.bottone2 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 228px;
    border: none;
    height: 40px;
    font-size: 13px;
    color: white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main2 {
    width: 70%;
    margin: auto;
    padding-bottom: 7rem;
}
.classe4 {
    width: 60%;
    float: left;
    padding-top: 6rem;
}
.classe5 {
    width: 40%;
    float: left;
    padding-top: 7.7rem;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img1 {
    width: 500px;
}
.para2 {
    font-size: 15px;
    margin-top: 1.5rem;
    line-height: 20px;
}
.classe6 {
    width: 40%;
    float: left;
    font-size: 25px;
    padding-top: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.classe7 {
    width: 60%;
    float: left;
}
.main3 {
    background-color: #F6F6F6;
    height:494px;
    padding-top: 67px;
}
.img2 {
    width: 500px;
}
.para3 {
    font-size: 15px;
    margin-top: 1.5rem;
    line-height: 20px;
}
.onde1 {
    transform:rotate(180deg);
}
.onda, .onda1 {
    display: block;
}
.main4 {
    padding-top: 7rem;
    margin-bottom: 100px;
}
.classe8 {
    width: 60%;
    float: left;
}
.classe9 {
    width: 40%;
    float: left;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main5 {
    background-color:#F6F6F6 ;
    position: relative;
    height: 1170px;
}
.abso1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.classe10 {
    padding-top: 28rem;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tecno {
    font-size: 40px;
    padding-bottom: 20px;
}
.para4 {
    font-size: 17px;
    line-height: 25px;
}
.img3 {
    width: 416px;
    
}
.img4 {
   width: 970px;
}
.classe11 {
    margin-bottom: 30px;
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bottone3 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 193px;
    border: none;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #8EA1E1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer1 {
    background-color: #23272A;
    height: 600px;
}
.para5 {
    color: white;
    vertical-align: middle;
    display:inline-block;
    font-size: 13px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.img5 {
    width: 20px;
    vertical-align: middle;
    padding-bottom: 30px;
    padding-top: 20px;
}
.posto {
    color: #7289DA;
    font-size: 25px;
}
.classe12 {
    float: left;
    width: 30%;
    padding-top: 70px;
    border-bottom:1px solid #8EA1E1;
    height: 431px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.classe13 {
    float: right;
    width: 70%;
    color: white;
    display: block;
    border-bottom:1px solid #8EA1E1;
    height: 431px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
th {
    padding-right: 100px;
    color: #7289DA;
    padding-bottom: 10px;
    padding-top: 70px;
}
td {
    padding: 3px 0px;
}
.img6 {
    width: 15px;
}
.a2 {
    padding-right: 15px;
}
hr {
    border-top: 30px;
}
.footer2 {
    background-color: black;
    height: 40px;
}
.img7 {
    width: 90px;
    padding-top: 30px;
    vertical-align: middle;
}
.bottone4 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 90px;
    border: none;
    height: 30px;
    font-size: 13px;
    color: white;
    background-color: #8EA1E1;
    margin-left: 824px;
    vertical-align: middle;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

